In [67]:
import os
import numpy as np
import json
import pandas as pd

In [68]:
df_1 = pd.read_json('purchase_data.json')

In [69]:
df_1.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [70]:
#Player Count
    #Total Number of Players
total_purchased = df_1['Gender']
print('Total Number of Players')
print('-----------------------')
print(len(total_purchased))

Total Number of Players
-----------------------
780

In [71]:
#Purchase Analysis
    #Number of Unique Items:
Num_Uni_Items = df_1["Item ID"].value_counts() 
print('Unique Items')
print(len(Num_Uni_Items))
    #Average Purchase Price
AvgPP =(sum(df_1["Price"]))/len(df_1)
print ("")
print("Average Sales Price")
print(AvgPP)
    #Total Number of Purchases
tn_pur = df_1['Price'].value_counts()
print ("")
print("Total # of Purchases")
print(len(tn_pur))
    #Total Revenue
total_rev =(sum(df_1["Price"]))
print ("")
print("Total Amount of Purchases")
print(total_rev)

Unique Items
183

Average Sales Price
2.93119230769

Total # of Purchases
152

Total Amount of Purchases
2286.33

In [72]:
#Purchasing Analysis by Gender
male1 = df_1[df_1.Gender=='Male'].Price.agg(['sum', 'mean', 'count'])
print('Male Analysis')
print(male1)
female1 =df_1[df_1.Gender=='Female'].Price.agg(['sum', 'mean', 'count'])
print('--------------------')
print('Female Anaysis')
print(female1)
other1 =df_1[df_1.Gender=='Other / Non-Disclosed'].Price.agg(['sum', 'mean', 'count'])
print('--------------------')
print('Other / Non-Disclosed Anaysis')
print(other1)

Male Analysis
sum      1867.680000
mean        2.950521
count     633.000000
Name: Price, dtype: float64
--------------------
Female Anaysis
sum      382.910000
mean       2.815515
count    136.000000
Name: Price, dtype: float64
--------------------
Other / Non-Disclosed Anaysis
sum      35.740000
mean      3.249091
count    11.000000
Name: Price, dtype: float64

In [73]:
# Age Demographics
bins = [0,10,15,20,25,30,35,40,45,50]
age_groups = ['Elementary','Middle-School','High-School','College', 
              'NextGen', 'Millennial', 'YGen', 'XGen', 'BabyBoom']

In [74]:
# Cut postTestScore and place the scores into bins
# pd.cut(df_1['Age'], bins, labels=age_groups)

In [75]:
df_1["Age Segment"] = pd.cut(df_1["Age"], bins, labels=age_groups)
#df_1

In [76]:
# Creating a group based off of the bins
pymoli_groups = df_1.groupby("Age Segment")
pymoli_groups.Price.agg(['count','mean','sum'])

               count      mean     sum
Age Segment
Elementary        32  3.019375   96.62
Middle-School     78  2.873718  224.15
High-School      184  2.873587  528.74
College          305  2.959377  902.61
NextGen           76  2.892368  219.82
Millennial        58  3.073448  178.26
YGen              44  2.897500  127.49
XGen               3  2.880000    8.64
BabyBoom           0       NaN     NaN

In [77]:
#Top Spenders
    # Indentify Top Purchases of games by "SN'
pymoli_groups = df_1.groupby('SN').Price.agg(['count','mean','sum']).sort_values(by='sum', ascending=False)
pymoli_groups.head(5)

             count      mean    sum
SN
Undirrala66      5  3.412000  17.06
Saedue76         4  3.390000  13.56
Mindimnya67      4  3.185000  12.74
Haellysu29       3  4.243333  12.73
Eoda93           3  3.860000  11.58

In [78]:
#Most Popular Items
pop_groups = df_1.groupby(['Item Name','Item ID','Price']).Price.agg(['count','sum']).sort_values(by='count', ascending=False)
pop_groups.head(5)

                                                    count    sum
Item Name                            Item ID Price
Betrayal, Whisper of Grieving Widows 39      2.35      11  25.85
Arcane Gem                           84      2.23      11  24.53
Retribution Axe                      34      4.14       9  37.26
Trickster                            31      2.07       9  18.63
Serenity                             13      1.49       9  13.41

In [79]:
#Most Profitable Items
#Most Popular Items
pop_groups = df_1.groupby(['Item Name','Item ID','Price']).Price.agg(['count','sum']).sort_values(by='sum', ascending=False)
pop_groups.head(5)

                                          count    sum
Item Name                  Item ID Price
Retribution Axe            34      4.14       9  37.26
Spectral Diamond Doomblade 115     4.25       7  29.75
Orenmir                    32      4.95       6  29.70
Singed Scalpel             103     4.87       6  29.22
Splitter, Foe Of Subtlety  107     3.61       8  28.88

In [80]:

print('THREE OBERVATIONS FROM THE ANALYSIS')
print("")
print('1. Males represent the largest gender of purchasers.')

print('2. The "College" aged group represents 39% (902.61/2286.33) of total dollar sales.')

print('3. "Betrayal, Whisper ..." is the most popular title sold.')

THREE OBERVATIONS FROM THE ANALYSIS

1. Males represent the largest gender of purchasers.
2. The "College" aged group represents 39% (902.61/2286.33) of total dollar sales.
3. "Betrayal, Whisper ..." is the most popular title sold.